<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" style="margin-top: 300px;">
            <tr>
                <td>New Password</td>
                <td><input type="password" name="txt_new_pass" id=""></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="txt_con_pass" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
    </script>
    {% endif %}
    {% if msg1 %}
    <script>
        alert("{{msg1}}")
        window.location = "{% url 'Guest:login' %}"
    </script>
    {% endif %}
</body>
</html>