<html lang="en">
<head>
    <title align="center">User Registration</title>
</head>
<body>
    <h1 align="center">User Registration</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center" border="1">
            <tr>
                <td>Full Name</td>
                <td><input type="text" name="txt_name" id="txt_name"></td>
            </tr>
            <tr>
                <td>Volhub Username</td>
                <td><input type="text" name="txt_username" id="txt_username"></td>
            </tr>
            <tr>
                <td>Set a password</td>
                <td><input type="password" name="txt_password" id="txt_password"></td>
            </tr>
            <tr >
                <td colspan="2" align="center"><input type="submit" value="Continue"></td>
            </tr>
        </table>
    </form>
</body>
</html>