<html>
    <body>
        <h1 align="center">Change Password</h1>
        <form method="POST">
            {% csrf_token %}
            <table align="center" border="1">
                <tr>
                    <td>Old Password</td>
                    <td><input type="password" name="txt_old_password" id="txt_old_password"></td>
                </tr>
                <tr>
                    <td>New Password</td>
                    <td><input type="password" name="txt_new_password" id="txt_new_password"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="password" name="txt_confirm_password" id="txt_confirm_password"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>