* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a.active {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.form-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.basic-info,
.about-you {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 45%;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form textarea {
    resize: none;
    height: 150px;
}

.size-chart {
    text-decoration: none;
    color: #007BFF;
    font-size: 0.9em;
}

.size-chart:hover {
    text-decoration: underline;
}
